---
import DocsLayout from '../../layouts/DocsLayout.astro';
---

<DocsLayout title="Installation - OmarCMS">
  <h1>Installation</h1>
  
  <p>Get OmarCMS running locally in under 5 minutes.</p>

  <h2>Prerequisites</h2>
  <ul>
    <li>Node.js 18+ installed</li>
    <li>pnpm (or npm/yarn)</li>
    <li>Git</li>
  </ul>

  <h2>1. Clone the repository</h2>
  <pre><code>git clone https://github.com/ewimsatt/OmarCMS.git my-blog
cd my-blog</code></pre>

  <h2>2. Install dependencies</h2>
  <pre><code>pnpm install</code></pre>
  <p>Or with npm:</p>
  <pre><code>npm install</code></pre>

  <h2>3. Start the dev server</h2>
  <pre><code>pnpm dev</code></pre>
  <p>Your site will be available at <code>http://localhost:4321</code></p>

  <h2>4. Customize your site</h2>
  <p>Edit the following to make it yours:</p>
  <ul>
    <li><code>package.json</code> - Site name and metadata</li>
    <li><code>src/pages/index.astro</code> - Homepage content</li>
    <li><code>src/pages/about.astro</code> - About page</li>
    <li><code>src/data/tags.json</code> - Tag taxonomy</li>
  </ul>

  <h2>Next Steps</h2>
  <ul>
    <li><a href="/docs/writing">Writing Content</a> - Create your first post</li>
    <li><a href="/docs/configuration">Configuration</a> - Customize your site</li>
    <li><a href="/docs/publishing">Publishing</a> - Deploy to production</li>
  </ul>
</DocsLayout>
